#!/usr/bin/env nextflow

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
    args   = Additional arguments appended to command in module.
----------------------------------------------------------------------------------------
*/

includeConfig './genomes.config'

params {

    optional = "/camp/lab/ulej/home/shared/riboseq_ref/optional.txt"

    // Genome options
    org = null
    genomesdir = false
    save_reference = false

    // UMI-extract
    with_umi = false // for ts NNNNN
    skip_umi_extract = false
    umi_extract_method = 'string'
    umi_pattern = ''

    dedup_genome = 'genome'
    dedup_transcriptome = 'transcriptome'

    // Cutadapt_classic
    skip_preprocessing = false
    adapter_threeprime = 'AGATCGGAAGAGC'
    adapter_fiveprime = null
    min_quality = 20
    min_readlength = 20
    times_trimmed = 1
    // cutadapt_args = ''

    // Cutadapt_ts
    ts_trimming = false
    ts_adapter_threeprime = 'A{11}'
    trim_polyG = 3

    // Premapping
    skip_premap = false
    bowtie2_args = '--norc --no-unal --very-sensitive-local -N 1'

    // Mapping: additional STAR args
    star_args = ''

    // UMI deduplication ('rbc:', '_', ...)
    umi_separator = '_'

    // QC
    skip_qc = false
    expected_length = '26:32'
    
    // length_analysis_type
    before_dedup_length_analysis = 'before_dedup'
    after_dedup_length_analysis = 'after_dedup'
    after_premap_length_analysis = 'after_premap'
    
    // Multiqc
    multiqc_config = null
    
    // Featurecounts
    strandedness = null

    // Read coverage tracks - deeptools
    bin_size = 1
    track_format = "bigwig"

    // P-site identification
    skip_psite = false
    length_range = '26:32'
    psite_method = 'ribowaltz'
    exclude_start = 42
    exclude_end = 27
    
    // Ribocutter
    skip_ribocutter = false
    guide_number = 50
    max_reads = 1000000
    ribocutter_args = ''

    // min_length for ribocutter
    min_read_length = null
    min_23_read_length = 23


}
