#!/usr/bin/env nextflow

/*
 * -------------------------------------------------
 *  ulelab/RiboSeq_NextFlow config file
 * -------------------------------------------------
 * Default parameters config
 */

params {

    // reference
    fasta = "/camp/lab/ulej/home/users/farawar/genomes/hs/fasta/GRCh38.primary_assembly.genome.fa"
    fai = "/camp/lab/ulej/home/users/farawar/genomes/hs/fasta/GRCh38.primary_assembly.genome.fa.fai"
    gtf = "/camp/lab/ulej/home/users/farawar/genomes/hs/annotation/gencode.v29.annotation.gtf"
    // regions = "/camp/lab/ulej/home/shared/genomes/hg38/gencodev39_annotation/iCount_segment/filtered_annotation/sorted.genic_other.regions.gtf.gz"
    // staridx_path = "/camp/project/proj-luscombe-ule/working/ira-jure/snakemake_run/smallrna_index/"

    // cutadapt
    adapter = 'AGATCGGAAGAGC'
    min_quality = 10
    min_readlength = 16

    // premapping
    premap = true
    smallrna_genome = "/camp/lab/ulej/home/users/wilkino/genomes/hs/premapping/named_sn_sno_rRNA.gencode.v29.annotation.plus_oscar.fa"
    smallrna_indexname = "hs_smallrna_genome"
    bowtie2_args = '--norc --no-unal --very-sensitive-local -N 1'

    // map
    star_args = ''

    // deduplication
    umi_separator = 'rbc:'
    dedup_method = 'directional'

}