#!/usr/bin/env nextflow

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
    args   = Additional arguments appended to command in module.
----------------------------------------------------------------------------------------
*/

includeConfig './genomes.config'

params {
    // Genome options
    org = null
    genomesdir = false
    save_index = false

    // UMI options - UMI-tools
    with_umi = false // for ts NNNNN
    skip_umi_extract = false
    umi_extract_method = 'string'
    umi_pattern = ''

    dedup_genome = 'genome'
    dedup_transcriptome = 'transcriptome'

    // Cutadapt
    skip_trimming = false
    save_trimmed = false
    // adapter_threeprime = 'AGATCGGAAGAGC'
    adapter_threeprime = null
    adapter_fiveprime = null
    minimum_quality = 10
    minimum_length = 20
    times_trimmed = 1
    cut_end = 0
    // cutadapt_args = ''

    // // Cutadapt_ts
    // ts_trimming = false
    // ts_adapter_threeprime = 'A{11}'
    // trim_polyG = 3

    // Premapping - bowtie2
    skip_premap = false
    bowtie2_args = '--norc --no-unal --very-sensitive-local -L 18 -N 1'
    // --very-sensitive-local same as -D 20 -R 3 -N 0 -L 20 -i S,1,0.50

    // Mapping: STAR args appended to those in the module
    // star_args = '--outFilterMismatchNoverReadLmax 0.08 --alignEndsType EndToEnd'
    star_args = '--readFilesCommand zcat --outSAMtype BAM SortedByCoordinate --seedSearchStartLmax 15 --outReadsUnmapped Fastx --genomeLoad NoSharedMemory --outFilterMultimapNmax 1 --outFilterMismatchNoverReadLmax 0.08 --alignEndsType EndToEnd --quantMode TranscriptomeSAM --outSAMattributes Standard --quantTranscriptomeBan Singleend'

    // UMI deduplication ('rbc:', '_', ...)
    umi_separator = '_'

    // Ribo-seq QC
    skip_qc = false
    expected_length = '26:32'

    // Length_analysis_type
    before_dedup_length_analysis = 'before_dedup'
    after_dedup_length_analysis = 'after_dedup'
    after_premap_length_analysis = 'after_premap'

    // MultiQC
    // multiqc_config = null
    multiqc_config = "$projectDir/assets/multiqc_config.yaml"

    // Gene-level counting - featureCounts
    strandedness = null
    feature = 'exon'

    // Read coverage tracks - deepTools
    bin_size = 1
    track_format = 'bigwig'

    // P-site identification
    skip_psite = false
    // length_range = '26:32' is now expected_length (see above)
    periodicity_threshold = 50
    psite_method = 'ribowaltz'
    exclude_start = 42
    exclude_end = 27

    genomic_codon_coverage = false

    // Ribocutter
    skip_ribocutter = false
    guide_number = 50
    max_reads = 1000000
    // extra Ribocutter args
    extra_ribocutter_args = ''

    // min_length for Ribocutter
    min_read_length = null
    min_23_read_length = 23
}
