/*
 * -------------------------------------------------
 *  iraiosub/riboseq-flow test config file
 * -------------------------------------------------
 * Default parameters config
 */

includeConfig './genomes.config' 

params {
    config_profile_name        = 'riboseq-flow full test profile'
    config_profile_description = 'test dataset to check pipeline function on a full-size dataset'
    input = 'https://raw.githubusercontent.com/iraiosub/riboseq/main/test_data/samplesheet.csv'

    // Reference
    org = 'GRCh38'

    // Adapter trimming and length filtering
    skip_preprocessing = false
    adapter_threeprime = 'GATCGGAAGAGCACACGTCTGAACTCCAGTCAC'
    cut_end = -1

    // Premapping
    skip_premap = false

    // Deduplication
    with_umi = true
    umi_pattern = 'NNNNNNN'

    // Featurecounts
    strandedness = 'forward'

}