/*
 * -------------------------------------------------
 *  iraiosub/riboseq 
 * -------------------------------------------------
 * Genomes config for the ribo-seq pipeline
 * Inspired by nf-core iGenomes config
 */

params.genomesdir = "/camp/lab/ulej/home/shared/riboseq_ref"

params {
    genomes {
        'GRCh38' {
            fasta = "${params.genomesdir}/human/GRCh38.primary_assembly.genome.fa.gz"
            fai = "${params.genomesdir}/human/GRCh38.primary_assembly.genome.fa.fai"
            gtf = "${params.genomesdir}/human/gencode.v29.primary_assembly.annotation.gtf.gz"
            star_index = "${params.genomesdir}/human/star_index"
            smallrna_fasta = "${params.genomesdir}/human/named_sn_sno_rRNA.gencode.v29.annotation.plus_oscar.fa.gz"
            bowtie2_index = ""
        }
        'GRCm39' {
            fasta = "${params.genomesdir}/mouse/GRCm39.primary_assembly.genome.fa.gz"
            fai = "${params.genomesdir}/mouse/"
            gtf = "${params.genomesdir}/mouse/gencode.vM27.primary_assembly.annotation.gtf.gz"
            star_index = "${params.genomesdir}/mouse/star_index"
            smallrna_fasta = "${params.genomesdir}/mouse/GRCm38.p6.snRNA_snoRNA_rRNA_with_full_rRNA_OSCAR_fixed.fa.gz"
            bowtie2_index = ""
        }
    }
}
