/*
 * -------------------------------------------------
 *  ulelab/RiboSeq_NextFlow 
 * -------------------------------------------------
 * Genomes config for the ribo-seq pipeline
 * Inspired by nf-core iGenomes config
 */

params.genomesdir = "/camp/project/proj-luscombe-ule/working/ira-jure/ref"

params {
    genomes {
        'GRCh38' {
            fasta = "${params.genomesdir}/GRCh38.primary_assembly.genome.fa"
            fai = "${params.genomesdir}/GRCh38.primary_assembly.genome.fa.fai"
            gtf = "${params.genomesdir}/gencode.v29.primary_assembly.annotation.gtf"
            star_index = "${params.genomesdir}/star_index"
            smallrna_fasta = "/camp/lab/ulej/home/users/wilkino/genomes/hs/premapping/named_sn_sno_rRNA.gencode.v29.annotation.plus_oscar.fa"
            transcript_info = "${params.genomesdir}/longest_proteincoding_transcript_hs_details.txt"
            transcript_fasta = "/camp/lab/luscomben/home/users/iosubi/projects/riboseq_nf/ref/gencode.v29.primary_assembly.transcripts.fa"
        }
        'GRCm38' {
            fasta = "${params.genomesdir}/"
            fai = "${params.genomesdir}/"
            gtf = "${params.genomesdir}/"
            star_index = "${params.genomesdir}/"
            smallrna_fasta = ""
            transcript_info = ""
            transcript_fasta = ""
        }
    }
}
