/*
 * -------------------------------------------------
 *  iraiosub/riboseq-flow 
 * -------------------------------------------------
 * Genomes config for the riboseq-flow pipeline
 * Inspired by nf-core iGenomes config
 */

params.genomesdir = "/camp/lab/ulej/home/shared/riboseq_ref"

params {
    genomes {
        'GRCh38' {
            fasta = "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/GRCh38.primary_assembly.genome.fa.gz"
            fai = "${params.genomesdir}/human/GRCh38.primary_assembly.genome.fa.fai"
            gtf = "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/gencode.v44.primary_assembly.annotation.gtf.gz"
            star_index = null
            smallrna_fasta = "$baseDir/assets/small_rna/named_sn_sno_rRNA.gencode.v29.annotation.plus_oscar.fa.gz"
            transcript_info = "$baseDir/assets/transcript_info/gencode.v44.primary_assembly.annotation.longest_cds.transcript_info.tsv"
            transcript_fasta = "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_44/gencode.v44.transcripts.fa.gz"
            bowtie2_index = null
            org_name = "Homo sapiens"
        }
        'GRCm39' {
            fasta = "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M33/GRCm39.primary_assembly.genome.fa.gz"
            fai = null
            gtf = "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M33/gencode.vM33.primary_assembly.annotation.gtf.gz"
            star_index = null
            smallrna_fasta = "$baseDir/assets/small_rna/GRCm38.p6.snRNA_snoRNA_rRNA_with_full_rRNA_OSCAR_fixed.fa.gz"
            transcript_info = "$baseDir/assets/transcript_info/gencode.vM33.primary_assembly.annotation.longest_cds.transcript_info.tsv"
            transcript_fasta = "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_mouse/release_M33/gencode.vM33.transcripts.fa.gz"
            bowtie2_index = null
            org_name = "Mus musculus"
        }
    }
}
