#!/usr/bin/env nextflow

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
    args   = Additional arguments appended to command in module.
----------------------------------------------------------------------------------------
*/

includeConfig './genomes.config'

params {

    // Genome options
    org = false
    genomesdir = false
    save_reference = false

    // UMI-extract
    with_umi = true
    skip_umi_extract = true
    umi_extract_method = 'string'
    umi_pattern = ''

    // Cutadapt
    skip_trimming = false
    adapter_threeprime = 'AGATCGGAAGAGC'
    adapter_fiveprime = null
    min_quality = 10
    min_readlength = 16
    times_trimmed = 1

    // Premapping
    skip_premap = false
    bowtie2_args = '--norc --no-unal --very-sensitive-local -N 1'

    // Mapping
    star_args = ''

    // UMI deduplication ('rbc:', '_')
    umi_separator = '_'

}
