/*
 * -------------------------------------------------
 *  iraiosub/riboseq-flow test config file
 * -------------------------------------------------
 * Default parameters config
 */


params {
    config_profile_name        = 'riboseq-flow test profile'
    config_profile_description = 'test dataset to check pipeline function'
    input = 'https://raw.githubusercontent.com/iraiosub/riboseq-flow/main/test_data/samplesheet.csv'

    fasta = 'https://github.com/iraiosub/riboseq-flow/raw/main/test_data/ref/chr20.GRCh38.primary_assembly.genome.fa.gz'
    gtf = 'https://github.com/iraiosub/riboseq-flow/raw/main/test_data/ref/chr20.gencode.v29.primary_assembly.annotation.gtf.gz'
    contaminants_fasta = "${projectDir}/assets/contaminants/named_sn_sno_rRNA.gencode.v29.annotation.plus_oscar.fa.gz"
    star_index = null
    transcript_info = null

    skip_preprocessing = false
    adapter_threeprime = 'GATCGGAAGAGCACACGTCTGAACTCCAGTCAC'
    cut_end = -1

    skip_premap = false
    bowtie2_args = '--norc --no-unal --very-sensitive-local -N 1'

    with_umi = true
    umi_pattern = 'NNNNNNN'

    strandedness = 'forward'

    skip_psite = true

    // hard caps for test/laptop
    max_memory = 6.GB
    max_cpus   = 2
    max_time   = 2.h
}

process {
  executor = 'local'

  cpus   = 1
  memory = 2.GB
  time   = 1.h
  maxRetries = 1

  withLabel:process_single {
    cpus = 1; memory = 2.GB; time = 1.h
  }
  withLabel:process_low {
    cpus = 1; memory = 3.GB; time = 1.h
  }
  withLabel:process_medium {
    cpus = 2; memory = 4.GB; time = 2.h
  }
  withLabel:process_high {
    cpus = 2; memory = 4.GB; time = 2.h
  }
  withLabel:process_long {
    time = 2.h
  }
  withLabel:process_high_memory {
    memory = 4.GB
  }
}
