/*
 * -------------------------------------------------
 *  iraiosub/riboseq-flow test config file
 * -------------------------------------------------
 * Default parameters config
 */

includeConfig './genomes.config' 

params {
    config_profile_name        = 'riboseq-flow test profile'
    config_profile_description = 'test dataset to check pipeline function'
    input = 'https://raw.githubusercontent.com/iraiosub/riboseq/dev/test_data/samplesheet.csv'

    // Reference
    fasta = 'https://raw.githubusercontent.com/iraiosub/test_data/main/chr1.GRCh38.primary_assembly.genome.fa.gz'
    fai = 'https://raw.githubusercontent.com/iraiosub/test_data/main/chr1.GRCh38.primary_assembly.genome.fa.fai'
    gtf = 'https://raw.githubusercontent.com/iraiosub/test_data/main/chr1.gencode.v29.primary_assembly.annotation.gtf.gz'
    smallrna_fasta = 'https://raw.githubusercontent.com/iraiosub/test_data/main/named_sn_sno_rRNA.gencode.v29.annotation.contaminant.fa.gz'

    // Adapter trimming and length filtering
    skip_preprocessing = false
    adapter_threeprime = 'GATCGGAAGAGCACACGTCTGAACTCCAGTCAC'
    cut_end = -1

    // Premapping
    skip_premap = false
    bowtie2_args = '--norc --no-unal --very-sensitive-local -N 1'

    // Mapping

    // Deduplication
    with_umi = true
    umi_pattern = 'NNNNNNN'

    // Featurecounts
    strandedness = 'forward'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 6.GB
    max_time   = 6.h

}