#!/usr/bin/env nextflow

/*
 * -------------------------------------------------
 *  ulelab/RiboSeq_NextFlow test config file
 * -------------------------------------------------
 * Default parameters config
 */

params {
    config_profile_name        = 'riboseq test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    input = 'https://github.com/ulelab/riboseq/raw/dev/samplesheet.csv'

    // Reference
    org = "GRCh38"
    // fasta = "/camp/project/proj-luscombe-ule/working/ira-jure/ref/GRCh38.primary_assembly.genome.fa"
    // gtf = "/camp/project/proj-luscombe-ule/working/ira-jure/ref/gencode.v29.primary_assembly.annotation.gtf"
    // star_index = "/camp/project/proj-luscombe-ule/working/ira-jure/ref/star_index"
    // smallrna_fasta = "/camp/lab/ulej/home/users/wilkino/genomes/hs/premapping/named_sn_sno_rRNA.gencode.v29.annotation.plus_oscar.fa"

    // Adapter trimming
    skip_trimming = true

    // Premapping
    skip_premap = false
    bowtie2_args = '--norc --no-unal --very-sensitive-local -N 1'

    // Mapping
    star_args = '--outSAMtype BAM SortedByCoordinate --seedSearchStartLmax 15 --outReadsUnmapped Fastx --genomeLoad NoSharedMemory --outFilterMultimapNmax 1 --outFilterMismatchNoverReadLmax 0.08 --alignEndsType EndToEnd --quantMode TranscriptomeSAM --outSAMattributes Standard --quantTranscriptomeBan Singleend'

    // Deduplication
    with_umi = true
    skip_umi_extract = true
    // umi_extract_method = 'string'
    umi_separator = 'rbc:'

}